<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">

    <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
    {% block stylesheets %}{% endblock %}

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">WIS Evenement </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">

            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                    <li class="nav-item">
                        <a href="{{path('account_logout')}} "class="nav-link">Déconnexion</a>
                    </li>
                {% else %}

                    <li class="nav-item">
                        <a href="{{ path('account_login') }}" class="nav-link">Connexion</a>
                    </li>

                {% endif %}

                {% if is_granted('ROLE_ADMIN')  %}
                    <li class="nav-item">
                        <a href="{{ path('easyadmin') }}" class="nav-link btn btn-success">Backend</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>

    <div class="container">

        {% block body %}{% endblock %}
    </div>
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
