{% extends 'base.html.twig'%}

{% block body  %}
    <div class="jumbotron mt-5">
        <h1 class="display-3">Bienvenue  {% if app.user %}  {{ app.user.name }} {% else %} Inconito  {% endif %}</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr>
        <p class="lead">Vous pouvez télécharger l'application dans le lien ci-dessous :</p>
        <a href="https://play.google.com/store/apps/details?id=com.facebook.katana" class="btn btn-secondary" target="_blank">
            <i class="fab fa-google-play"></i>
            Play store
        </a>
        <a href="https://apps.apple.com/fr/app/facebook/id284882215"  class="btn btn-secondary" target="_blank">
            <i class="fab fa-app-store"></i>
            App store
        </a>
    </div>

{% endblock %}