<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Connexion à l'adminisatration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <style>
        body {
            display: flex;
            justify-content: center;
            height: 100vh;
        }

        .card {
            margin-top: 10%;
        }
    </style>

</head>


<body>
<div class="col-md-4">
    <div class="card bg-light">
        <div class="card-header">
            <h4 class="card-title">
                <i class="fa fa-lock"></i>
                Connexion à l'administration

            </h4>

        </div>
        <div class="card-body">

            {% if hasError %}
                <div class="alert alert-danger">Une Erreur est survenue! le nom d'utilisateur ou le mot de passe est invalide</div>
            {% endif %}

            <form method="post" >
                <div class="form-group">
                    <label for="_username">Email</label>
                    <input type="text" class="form-control" placeholder="Adresse Email ..."
                           name="_username" value="{{  username }}"></div>
                <div class="form-group">
                    <label for="_password">Mot de passe</label>
                    <input type="password" class="form-control" placeholder="Mot de passe ..."
                           name="_password"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-lock-open"></i>
                        Connexion
                    </button>
                    <a href="{{ path('homepage') }}" class="btn btn-link">
                        <i class="fas fa-arrow-circle-left"></i>
                        Retour au site

                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
